* {
    box-sizing: border-box;
}

/* Navbar Global */

.navbar-container {
    position: fixed;
    font-family:'Tahoma';
    top: 0;
    left: 0;
    width: 100%;
    background: #dcdcdc;
    color: hsl(0, 0%, 100%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 4rem;
}

.navbar-container a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 2rem;
}

.navbar-container li.active {
    background-color: #fff;
    color: #333; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.navbar-container li:hover,
.site-title:hover {
    background-color: #777; 
    transition: background-color 0.3s; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
    color: hsl(0, 0%, 100%);
    transform: skew(-20deg);
}
/* Navbar Items */

.site-title {
    font-size: 4rem;
    color: #333;
    margin-left: 2rem;
}

.title-name {
    font-size: 1.1rem;
    color: #333;
}

.nav-link:hover {
    transform: skew(20deg);
}