/* === Outer Portfolio Containment === */

.portfolio-outer-container {    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;
    color: black;  
}

.portfolio-inner-container {
    display: flex;
    color: black;
    padding-left: 15vw;
    height: 100vh;
    width: 100vw;
}

/* Portfolio Items */

.portfolio-title {
    display: flex;
    /* flex-direction: ; */
    /* justify-content: center; */
    align-items: center;
    font-size: 3em;
    -ms-text-underline-position: auto;
}

/* Card Styles */

.project-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project-name {
    font-size: 1.5em;
}

.project-description {
    font-size: 0.8em;
    /* width: 120px; */   
    padding: 10px;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3vw;
    height: 300px;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ffffff;
}

.project-image {
    width: 150px;
    height: 200px;
    border-radius: 5px;
}

.project-card:hover {
    box-shadow: -6px -6px 15px rgb(255, 255, 255), 7px 7px 15px rgba(0, 0, 0, 0.2);
}