
/* Additional styling for the .home-container */
.home-container {
    position: relative;
    display: flex;
    color: #131313;
    justify-content: space-around;
    padding: 20px;
    height: 120vh;    
}

.home-info {    
    padding: 5rem;
    padding-bottom: 30rem;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 6rem;
    font-family: 'Arial', sans-serif;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    color: hsl(0, 0%, 3%);
    transform: skew(-20deg);
    z-index: -1;
}

.name {
    font-size: 2rem;
    align-self: center;  
}

.link {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 15px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    color: hsl(0, 0%, 3%);
    transform: skew(-20deg);
}

.link-title {
    transform: skew(20deg);
}

.link.active {
    background-color: #fff;
    color: #333; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
}

.link:hover {
    background-color: #777; 
    transition: background-color 0.3s; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
    color: hsl(0, 0%, 100%);
    transform: skew(-20deg);
    
}

.home-title {
    text-align: center;
    display: flex;
    align-self: center;    
    transform: skew(20deg);
}

.home-article {
    font-size: 1rem; 
    text-align: center;
    padding: .5rem;
    font-family: 'Arial', sans-serif;
    transform: skew(20deg);
}

.left {
    animation-duration: .4s;
    animation-name: slideInLeft;
}

.right {
    animation-duration: .4s;
    animation-name: slideInRight;
}

@keyframes slideInLeft {
    from {
        margin-right: 50%;
    }
    to {
        margin-right: 0%;
    }
}

@keyframes slideInRight {
    from {
        margin-left: 50%;
    }
    to {
        margin-left: 0%;
    }
}

.center-title {
    display: flex;
    opacity: 0;
    color: black;
    padding-top: 38rem;
    animation: fadeIn 0.5s ease forwards;
    font-family:'Arial', sans-serif;
    flex-direction: column;
    justify-content: center;
}



@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.github {
    display: flex;
    font-size: 4.5rem;    
    padding: 70px; 
    Margin: 50px 20px 15px 20px; 
    justify-content: center;
    align-self: center;     

}



