
/* Additional styling for the .home-container */
.home-container {
    display: flex;
    color: #131313;
    justify-content: space-around;
    height: 100vh;   
}

.home-info {    
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 6rem;
    width: 500px;
    font-family: 'Arial', sans-serif;
    /* transition: transform 0.5s ease-in-out; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); 
    color: hsl(0, 0%, 100%);
    background-color: #777;
    transform: skew(-20deg);
    z-index: -1;
}

.name {
    font-size: 2rem;
    align-self: center;  
}

.link {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 15px; 
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    color: hsl(0, 0%, 3%);
    transform: skew(-20deg);
}

.link-title {
    transform: skew(20deg);
}

.link.active {
    background-color: #fff;
    color: #333; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
}

.link:hover, .skill-head:hover {
    background-color: #777; 
    transition: background-color 0.3s; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
    color: hsl(0, 0%, 100%);   
}

.home-title {
    width: 500px;
    transform: skew(20deg);
}

.home-article {
    font-size: 1rem; 
    text-align: center;
    padding: .5rem;
    font-family: 'Arial', sans-serif;
    transform: skew(20deg);
}

.left {
    animation-duration: 0.4s;
    animation-name: slideInLeft;
    animation-timing-function: ease-out;
}

.right {
    animation-duration: 0.4s;
    animation-name: slideInRight;
    animation-timing-function: ease forwards;
}

.out-left {
    animation-duration: .3s;
    animation-name: slideOutLeft;
}

.out-right {
    animation-duration: .3s;
    animation-name: slideOutRight;
}


@keyframes slideInLeft {
    from {
        margin-right: 50%; 
    }
    to {
        margin-right: 0%;
    }
}

@keyframes slideInRight {
    from {
        margin-left: 50%;
    }
    to {
        margin-left: 0%;
    }
}


@keyframes slideOutLeft { 
    from {
        margin-right: 0%;
    }
    to {
        margin-right: 50%;
    }
}

@keyframes slideOutRight { 
    from {
        margin-left: 0%;
    }
    to {
        margin-left: 50%;
    }
}

.center-title {
    display: flex;
    opacity: 0;
    color: black;
    height: 100vh;
    padding-bottom: 15%;
    animation: fadeIn 0.5s ease forwards;
    font-family:'Arial', sans-serif;
    flex-direction: column;
    justify-content: center;
}

.gitOut {
    animation: fadeOut 0.01s;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.github {
    display: flex;
    font-size: 4.5rem;    
    padding: 110px; 
    Margin: 50px 20px 15px 20px; 
    justify-content: center;
    align-self: center;    
}



