
/* Additional styling for the .home-container */
.home-container {
    display: flex;
    justify-content: center;  
    position: fixed;
    width: 100vw;
}

.name {
    font-size: 2rem;
    align-self: center;  
}

.link {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 15px; 
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    color: hsl(0, 0%, 3%);
    transform: skew(-20deg);
}

.link-title {
    transform: skew(20deg);
}

.link.active {
    background-color: #fff;
    color: #333; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
}

.link:hover, .skill-head:hover {
    background-color: #777; 
    transition: background-color 0.3s; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
    color: hsl(0, 0%, 100%);   
}

.flank-left-container, .flank-right-container {
    display: flex;
    justify-content: center;
    padding: 2.3rem;
    align-items: center;
    top: 15%;
    bottom: 0;
    right: 0;
    width: 33%;
    margin: auto;
  }


.home-title {
    display: flex;
    align-self: center;
    font-size: 4rem;
    transform: skew(20deg);
}

.home-article {
    font-size: 1rem; 
    text-align: center;
    padding: .5rem;
    font-family: 'Arial', sans-serif;
    transform: skew(20deg);
}

.github {
    display: flex;
    justify-content: center;
    /* align-self: center;   */
    font-size: 4rem;
}

.left {
    /* position: fixed; */
    animation-duration: 0.4s;
    animation-name: slideInLeft;
    animation-timing-function: ease-out;
}

.right {
    /* position: fixed; */
    animation-duration: 0.4s;
    animation-name: slideInRight;
    animation-timing-function: ease-out;
}

.out-left {
    animation-duration: .3s;
    animation-name: slideOutLeft;
}

.out-right {
    animation-duration: .3s;
    animation-name: slideOutRight;
}

@keyframes slideInLeft {
    from {
        transform: skew(-20deg) translateX(-100%);
    }
    to {
        transform: skew(-20deg) translateX(0%);
    }
}

@keyframes slideInRight {
    from {
        transform: skew(-20deg) translateX(100%); /* Adjust as needed */
    }
    to {
        transform: skew(-20deg) translateX(0%);
    }
}

@keyframes slideOutLeft { 
    from {
        transform: skew(-20deg) translateX(0%);
    }
    to {
        transform: skew(-20deg) translateX(-400%);
    }
}

@keyframes slideOutRight { 
    from {
        transform: skew(-20deg) translateX(0%);
    }
    to {
        transform: skew(-20deg) translateX(400%); 
    }
}


.center-title {
    display: flex;
    opacity: 0;
    color: black;
    animation: fadeIn 0.5s ease forwards;
    font-family:'Arial', sans-serif;
    flex-direction: column;
    justify-content: center;
}

.gitOut {
    animation: fadeOut 0.01s;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}





