.email-container, .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-container {
    display: flex;
    justify-content: space-between;
}

.email-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.email-body {
    
}


.input-container {    
    padding-bottom: 3%;
}

.input-name {
    height: 30px;
    width: 245px;

}

.input-subject, .input-content {    
    width:500px;
}

.input-subject {
    height: 30px;
}

.subject-container {
    padding-bottom: 3%;
}

.message-container {
    width: 500px;
    height: 200px;
    border: 1px solid #ccc;
    overflow: auto;
    resize: none;
    
}

.input-content {
    width: calc(100% - 2px);
    height: calc(100% - 2px); 
    border: none;
    padding: 5px;
    box-sizing: border-box;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: hidden; 
    resize: none;
    overflow-wrap: break-word;
}

.send-email {
    margin: 8px 0;
    font-size: 1.4rem;
    font-weight: bold;
    width: 22rem;
    padding: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    color: hsl(0, 0%, 0%);
    background-color: rgb(255, 255, 255);
    transform: skew(-20deg);
    transition: background-color 0.3s ease; 
}

.send-email div {
    transform: skew(0deg);
}


.send-email:hover {
    cursor: pointer;
    background-color: #777; 
    color: white;
    transition: background-color 0.3s;  
}


.send-email:active {
    background-color: rgba(0, 0, 0, 0.1); 
}


.character-limit {
    font-size: 0.8rem;
    color: gray;
}

.character-limit.reached {
    color: red;
}