/* === Outer Text Containment === */

.readme-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px auto;
  padding-top: 20px; 
  font-family: 'Arial', sans-serif;
} 

.aboutme-body {
  display: flex;
  flex-direction: row;    
}

.text-container {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  width: 60vw;
  /* border: 1px solid #9d9d9d;
  border-radius: 50%;      */
}

/* Text Items */

.outer-bubble {
  height: 50vh;
  width: 30vw;
  border: 1px solid #9d9d9d;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1%;
  background-color: #ffffff;
}

.text-body {
  padding: calc(1rem + 0.5vw);
  font-size: calc(.5em + .9vw);
  height: inherit;
  width: 30vw;
}

h1 {
  color: #333;
  margin: 0;
  padding: 0.5rem;
}

p {
  text-align: justify;
  line-height: 1.6;
  color: #555;
  font-size: 1.1rem;
}

/* ===  Headshot Items === */

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 33vw;
  margin-top: 2vh;
}

/* Pdf Button Items */

.pdf-button {   
  margin: 0;
  padding: 8px; 
  width: inherit;
  font-size: calc(.5em + 0.6vw);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  color: hsl(0, 0%, 3%);
  background-color: #e6e6e6;
  margin-bottom: 9vh;
}

.resume-button a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}

.pdf-button:hover {
  color: hsl(0, 0%, 3%); 
  transition: background-color 0.3s; 
  box-shadow: 0 0 3px rgb(255, 255, 255); 
  background-color: rgb(255, 255, 255); 
  border: 1px solid #ffffff;
}

/* Personal Items */

.headshot {
  max-height: 350px;  
}

.my-name {
  font-size: calc(1.0em + 0.8vw);
  display: flex;
  text-align: center;
}

.cropped-image {
  width: 230px; 
  height: 230px; 
  overflow: hidden; 
  border-radius: 50%;    
}

.header-container {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem;
}




/* FLAG for deletion - May be unneccessary nesting */
/* === Skills Outer Containment === */

.about-me-skills-container {
  display: flex;
  justify-content: center;
  padding: 2.3rem;
  align-items: center;
  /* position: fixed;  */
  top: 15%;
  bottom: 0;
  left: 46%;
  right: 0;
  width: 33%;
  margin: auto;
}