
.readme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px auto;
  padding-top: 20px;
  width: 90%;
  border: 1px solid #ccc;
  background-color: #f3f3f3;
  font-family: 'Arial', sans-serif;
} 

.aboutme-body {
  display: flex;
  flex-direction: row;
}

.about-me {  
  margin-top: 8.5rem;
}

.sub-header {
  font-size: 1.1rem;
}

.header-container {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem;
}

.pdf-button {   
  margin: 8px 0;
  font-size: 1.4rem;
  font-weight: bold;
  width: 22rem;
  padding: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  color: hsl(0, 67%, 98%);
  background-color: rgb(255, 255, 255);
  transform: skew(-20deg);
}

.resume-button {
  transform: skew(20deg);
}

.pdf-button:hover {
  background-color: #777; 
  transition: background-color 0.3s;  
}

.pdf-button:hover .resume-button a { 
  color: hsl(0, 0%, 100%); 
}


  h1 {
    color: #333;
    margin: 0;
    padding: 0.5rem;
  }
  
  p {
    text-align: justify;
    line-height: 1.6;
    color: #555;
    font-size: 1.1rem;
  }

  .text-container {
    width: 50%;    
  }

  .about-me-skills-container {
    display: flex;
    justify-content: center;
    padding: 2.3rem;
    width: 50%; 
  }

  .text-body {
    padding: 2.3rem;
  }


  .headshot-container {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    padding: .5rem;
  }

  .headshot {
    max-height: 350px;  
  }

  .cropped-image {
    width: 230px; 
    height: 230px; 
    overflow: hidden; 
    border-radius: 50%;    
  }

  @media screen and (min-width: 600px) {    
    p {
      font-size: 1.1rem;
    }
  }

  @media screen and (min-width: 800px) {
    p {
      font-size: 1.3rem;
    }
  }
  
  @media screen and (min-width: 1800px) {
    p {
      font-size: 1.6rem;
    }
  }

  @media screen and (min-width: 2468px) {
    p {
      font-size: 1.7rem;
    }
  }

