.skill-li {
    visibility: hidden;
    display: flex;
    justify-content: flex-start;
}


.skill-li:nth-of-type(1) {
    padding-left: 80px;    
}

.skill-li:nth-of-type(2) {
    padding-left: 70px;
}

.skill-li:nth-of-type(3) {
    padding-left: 60px;
}

.lan-reveal, .dev-reveal, .data-reveal, .man-reveal {
    visibility: visible;
}

