.skillsets-container {
  display: flex;
  padding: 2px;
  flex-direction: column;  
  width: 100%;  
}


.skillset {
  text-align: center;
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;  
}

  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  .skill-head {
    padding: 8px; 
    width: inherit;
    font-size: 1.8rem;
    margin:0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    color: hsl(0, 0%, 3%);
    transform: skew(-20deg);
    background-color: rgb(255, 255, 255);
  }

  .head-name {
    transform: skew(20deg);
  }
  
  .skillset, h2 {
    color: #333;
    z-index: 99;
  }

  
  .skillset ul {
    display: flex;
    flex-direction: column;
  }
  
  .skillset li {    
    color: #000;
    margin: 8px 0;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    color: hsl(0, 0%, 3%); 
    background-color: rgb(255, 255, 255); 
    transform: skew(-20deg);  
  }


  .skill-li {
    visibility: hidden;
    display: flex;
    justify-content: center;
  } 

  .lan-reveal, .dev-reveal, .data-reveal, .man-reveal {
      visibility: visible;
  }

  .skills-left, .skills-right {
    display: flex;
    flex-direction: row;
    transition: all 0.5s ease; 
    transform: skew(-20deg);  
  }



  @media screen and (min-width: 800px) {
    .skillset li {
      font-size: 1rem;
    }
  }
  
  @media screen and (min-width: 1800px) {
    .skillset li {
      font-size: 1.1rem;
    }
  }

  @media screen and (min-width: 2468px) {
    .skillset li {
      font-size: 1.2rem;
    }
  }


  @media screen and (max-width: 800px) {
    .skillset {
      height: 250px;
    }

    .head-name {
      width: 20vw;
      font-size: 1.2rem;
    }
  }