/* === Outer Skills Containment === */

.skillsets-container {
  display: flex;
  padding: 2px;
  flex-direction: column;  
  width: 100%;  
}


/* Skill Compartments */

.skill-compartment {
  text-align: center;
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;  
}

/* Skill Local Items */

.skill-compartment, h2 {
  color: #333;
  z-index: 99;
}

.skill-compartment ul {
  display: flex;
  flex-direction: column;
}

/* Individual Items */

.skill-head {
  margin: 0;
  padding: 8px; 
  width: inherit;
  font-size: calc(.5em + 0.5vw);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  color: hsl(0, 0%, 3%);
  background-color: #e6e6e6;
}

.skill-head:hover {
  /* === No Unique Styling === */ 
  color: hsl(0, 0%, 3%); 
  transition: background-color 0.3s; 
  box-shadow: 0 0 3px rgb(255, 255, 255); 
  background-color: rgb(255, 255, 255); 
  border: 1px solid #ffffff;
}

.skill-compartment li {    
  color: #000;
  margin: 8px 0;
  font-size: calc(.5em + 0.4vw);;
  font-weight: bold;
  padding: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  color: hsl(0, 0%, 3%); 
  background-color: rgb(255, 255, 255); 
}

.skill-item {
  visibility: hidden;
  display: flex;
  justify-content: center;
} 

/* === (Aux) Animations === */

.lan-reveal, .dev-reveal, .data-reveal, .man-reveal {
  visibility: visible;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
