.skillsets-container {
    display: flex;
    padding: 2px;   
    justify-content: center;
  }
  
  .skillset {
    text-align: center;
    /* background-color: #fff; */
    padding: 20px;
    /* margin-left: 10rem; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    height: 250px;
    width: 300px; 
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;     
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  
  .skillset, h2 {
    color: #333;
    z-index: 99;
  }
  
  .skillset ul {
    list-style: none;
    padding: 0;
  }
  
  .skillset li {
    color: #000;
    margin: 8px 0;
    font-size: 16px;
    font-weight: bold;
  }


  /* ============================== TRANSLATION ===================================== */

  /* Language */
  @keyframes moveLeftUp {
    to {
      opacity: 1;
      /* ==========Horizontal ========= Vertical=========== */
      transform: translateX(-330px) translateY(-550px); 
    }
  }
  
  /* Development */
  @keyframes moveLeftDown {
    to {
      opacity: 1;
      /* ==========Horizontal ========= Vertical=========== */
      transform:  translateX(-630px) translateY(-50px); 
    }
  }  
  
  /* Databases */
  @keyframes moveRightUp {
    to {
      opacity: 1;
      /* ==========Horizontal ========= Vertical=========== */
      transform: translateX(620px) translateY(-550px); 
    }
  }
  /* Management */
  @keyframes moveRightDown {
    to {
      opacity: 1;
      /* ==========Horizontal ========= Vertical=========== */
      transform: translateX(260px) translateY(-170px); 
    }
  }
  
  .lan {
    opacity: 0;
    transform: translateX(0), translateY(0); 
    animation: moveLeftUp 1s forwards; 
  }


  .dev {
    opacity: 0;
    transform: translateX(0), translateY(0);
    animation: moveLeftDown 1s forwards;
  }

  .data {
    opacity: 0;
    transform: translateX(0), translateY(0);
    animation: moveRightUp 1s forwards;
  }


  .man {
    opacity: 0;
    transform: translateX(0), translateY(0);
    animation: moveRightDown 1s forwards; 
  }