.word-container {
    display: flex;
    justify-content: center;
    visibility: hidden;
    
  }
  
  p {
    margin: 0 5px;
  }
  
  .highlighted-letter {
    color: black;
    font-weight: bold;
    visibility: visible;
  }