body {
    background: #ececec;
    color: hsl(0, 0%, 100%);
    margin: 0 auto;
    max-width: 2300px;
  }

ul {
  padding: 0;
  margin: 0;
}

button {
  background-color: initial;
  color: initial;
  border: initial;
}

a {
  background-color: initial;
  color: initial;
  border: initial;
  text-decoration: none;
}
