/* home containement  */

.home-container {
    display: flex;
    color: #131313;
    justify-content: space-around;
    padding: 20px;
  }

.home-info {
    padding: 5rem;
    font-size: 5rem;
}

.home-title {
    text-align: center;
}

.home-article {
    font-size: 1rem; 
    text-align: center;
    padding: .5rem;
}

