.start-btn {
    color: #333;
    background-color: aqua;
    display: flex;
    height: 90px;
    width: 90px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
}

.start-btn:hover {
  border: solid;
  border-radius: 98px;
  font-size: .8rem;
}

.start-btn-text {
    color: #333;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.random-word-output {
    color: #333;
}

/* input boxes */

#userInput {
    display: flex;
    justify-content: space-between;
    max-width: 2rem;
}

.tag {
    color: #333
}

/* Word Display */

.display-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-top: 15rem;
  background-color: rgb(255, 255, 255);
  height: 700px;
  flex-direction: column;
}

.pie-container {
    position: relative;
    width: 500px;
    height: 500px;  
    color: #ffffff;
    background-color: rgb(101, 101, 101);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    border-radius: 50%;
  }
  
  .pie-letter { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* color: #333; */
  }
  
  
  .top {
    display: flex;
    height: 133px;
    justify-content: center;
    /* padding: 1rem; */
  }

  .middle {
    display: flex;
    padding: 1rem;
    width: 355px;
    justify-content: space-between;
  }
  
  .bottom {
    display: flex;
    padding: 2rem;
    height: 180px;
    width: 225px;
    justify-content: space-between;
  }

  /* Individual letters */

  .top-letter {
    display: flex;
    padding: 1rem;
  }

  .middle-left {
    display: flex;
    padding: 1rem;
  }

  .middle-right {
    display: flex;
    padding: 1rem;
  }

  .bottom-left {
    display: flex;
  }

  .bottom-right {
    display: flex;
  }

  /* Full word */

  .full-word {
    display: flex;
    padding: 1rem;
  }