.random-word-btn {
    color: #333
}

.random-word-output {
    color: #333
}

/* input boxes */

#userInput {
    display: flex;
    justify-content: space-between;
    max-width: 2rem;
}