.site-container {
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.site-component {
    scroll-snap-align: start;
    height: 100vh;
}